:root {
  --color1: #17224d;
  --color2: #0baac2;
  --color3: #038498;
  --color4: #b3efe4;
  --color5: #f8f8ff;
  --color6: #ef363c;
}

.heading,
.subheading {
  color: var(--color1);
  cursor: pointer;
}

.text {
  color: var(--color1);
  cursor: pointer;
  transition: all 300ms linear;
}

.text:hover {
  color: var(--color3);
}

/* custom css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.block {
  display: block;
}

.hidden {
  display: none !important;
}
