#hospital {
  width: 100vw;
}

.introSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  width: 97vw;
}

.hospitalCard {
  width: 100%;
}

.doctors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  width: 97vw;
  margin-top: 30px;
}

.doctorCard {
  width: 90%;
}

.googleMap {
  padding-bottom: 50%;
  position: relative;
}

.googleMap iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

@media (min-width: 768px) {
  .hospitalCard {
    width: 40%;
  }

  .doctors {
    justify-content: center;
    flex-direction: row;
  }

  .doctorCard {
    width: 40%;
  }
}
