
.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    padding: 15px 20px 15px 20px;
    width: 100dvw;
    background-color: #C3EDEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}

.displayNone {
    display: none; 
}

.logo {
    width: 250px;
    margin-right: 0.5rem;
  }


@media (max-width: 768px) {
  
    .logo{
      width: 100px;
    }

  }